PEFT/test.ipynb
negator/Evaluation/gfm-models/*
negator/selectors/NegBERT/*

# Allow the .gitkeep file in the gfm-models directory to be tracked
!negator/Evaluation/gfm-models/.gitkeep
!negator/selectors/NegBERT/.gitkeep
